@using System.Collections.Generic
@using System.Linq
@model System.Collections.Generic.IEnumerable<Lab051.Models.Entities.Post>
@{
    ViewData["Title"] = "Latest posts";
}
<h2>Latest posts</h2>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <h3>@post.Title</h3>
            <div>
                Posted by @post.Author on @post.Date.ToString("d")
            </div>
            @if (post.Comments.Any())
            {
                <div>@post.Comments.Count() comments</div>
            }
            <div><a asp-controller="blog" asp-action="viewpost" asp-route-slug="@post.Slug">Read more...</a></div>
        </li>
    }
</ul>