@model PdfFile
<h1>PDF Generator</h1>
<form method="post" action="@Url.Action()">
    <div class="form-group">
        <label>Nome do arquivo:</label>
        <input type="text" name="FileName" value="@Model.FileName" class="form-control" />
        @Html.ValidationMessage("FileName")
    </div>
    <div class="form-group">
        <label>Texto:</label>
        <textarea type="text" name="Text" class="form-control">@Model.Text</textarea>
        @Html.ValidationMessage("Text")
    </div>
    <hr />
    <button class="btn btn-primary">Download</button>
</form>