@namespace Practica64
@model Practica64.Models.Friend
@Html.ValidationSummary()
<form method="post" action="/friend/create">
<label>Name: @Html.ValidationMessage("name")<br /></label>
    <input type="text" name="name" value="@Model.Name" /><br />

<label>Age: @Html.ValidationMessage("age")<br /></label>  
    <input type="number" name="age" value="@Model.Age" /><br />

<label>Email: @Html.ValidationMessage("email")<br /></label> 
    <input type="text" name="email" value="@Model.Email" /><br/> 

<label>Street: @Html.ValidationMessage("adress.street")<br /></label>  
    <input type="text" name="address.street" value="@Model.Address.Street" /><br />

<label>City:@Html.ValidationMessage("adress.city")<br /></label>  
    <input type="text" name="address.city" value="@Model.Address.City" /><br />

<label>ZipCode:@Html.ValidationMessage("address.zipcode")<br /></label>  
    <input type="text" name="address.zipcode" value="@Model.Address.ZipCode" /><br />

    <input type="submit" value="Submit">
</form>